<h1>Events controller, show action</h1>

<p>Edit this file in <tt>app/views/events/show.html.erb</tt></p>

<h2><%= @event.name %></h2>
<div><%= @event.description %></div>
<% @event.sessions.each do |session| %>
<h3><%= link_to session.name, url(:sessions, session) %></h3>
<% end %>

<%= link_to "Edit", url(:edit_event, @event) %> |
<%= link_to "Back", url(:events) %>
