<h2 id="event_name"><%= @event.name %></h2>
<div id="event_description"><%= @event.description %></div>

<div id="sessions_list">
  <h2>Proposed Sessions</h2>
  <ul>
    <% @event.sessions.each do |session| %>
    <li id="session-<%= session.id %>"> 
      <h3><%= link_to session.name, url(:session, session) %></h3>
      <p id="session_desc-<%= session.id %>">
        <%= session.description %>
      </p>
    </li>
    <% end %>
  </ul>
</div>

<%= link_to "Back", url(:events) %>
